.rotatetext {
  transform: rotate(-90deg);
  color:#fff
}
.mt-15 {
  margin-top: 150px;
}
.outer {
  background-color: lightgrey;
  width: 600px;
  /* border: 15px solid green; */
  padding: 3px;
  margin: 20px;
  border-radius: 100px;
  height: auto;
}

.inner {
  background-color: #fff;
    width: auto;
    /* border: 15px solid green; */
    padding: 5px;
    margin: 0px;
    border-radius: 100px;
}

.gradient {
  background-image: linear-gradient(to right, #73c2b1 , #f5a52d, #793a51);
}

.mw {
  width: 100%;
}


